{
  "presets": [
    ["env", {
      "modules": "umd",
      "targets": {
        "browsers": ["> 1%"],
        "uglify": true
      }
    }]
  ],

  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
