{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd",
        "forceAllTransforms": true,
        "targets": {
          "browsers": [
            "> 1%"
          ],
        }
      }
    ]
  ],
}
